{% extends 'base.admin.html.twig' %}

{% block title %}Simulator{% endblock %}

{% block body %}
    <h1>Simulator</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ simulator.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ simulator.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('simulator_index') }}">back to list</a>

    <a href="{{ path('simulator_edit', {'id': simulator.id}) }}">edit</a>

    {{ include('admin/simulator/_delete_form.html.twig') }}
{% endblock %}
