<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
   {#<base href="//simulation-energie.fr">#}
    {% if page.isIndexed is defined and page.isFollowed is defined %}
        <meta name="robots"
              content="{{ page.isIndexed ? 'index':'noindex' }}, {{ page.isFollowed ? 'follow':'nofllow' }}">
    {% endif %}
    {% if page.description is defined and page.description is not null %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}
    {% if page.keywords is defined and page.keywords is not null %}
        <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    {% if page.favicon is defined and page.favicon is not null %}
        <link rel="icon" type="image/png" href="img/icon/{{ page.favicon }}"/>
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    {% block stylesheets %}{% endblock %}
    {% if page.tags %}
        {% for tag in page.tags %}
            {% if 'head' in tag.position %}
                {{ tag.content|raw }}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page.customColor is defined and page.customColor is not null %}
        <style>
            .step {
                background: {{ page.customColor }};
                opacity: .5;
            }
            .bg-custom, .step.finish {
                background: {{page.customColor}};
                opacity: 1;
            }

            .text-custom, b {
                color: {{page.customColor}};
            }

            .header {
                background: linear-gradient(177deg, {{page.customColor}} 80%, white 80%);
            }


        </style>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Ads: 710428717 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-710428717"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-710428717');
    </script>


</head>
<body>
{% if page.tags %}
    {% for tag in page.tags %}
        {% if 'bodytop' in tag.position %}
            {{ tag.content|raw }}
        {% endif %}
    {% endfor %}
{% endif %}
<div id="fader">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center p-5">
            <img src="{{ asset('img/simulation-energie-logo-couleur-orange.png') }}" alt="Logo - Ma pompe à chaleur"
                 width="100%" style="max-width: 400px;height: auto;">
        </div>
    </div>
</div>
<div id="site">
    <header class="container-fluid p-0 header">
        <nav class="navbar navbar-expand-lg py-3 ">
            <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">
                    <img src="{% if page.logo is defined and page.logo is not null %}img/{{ page.logo }}{% else %}{{ asset('img/simulation-energier-logo.png') }}{% endif %}"
                         alt="Logo - Ma pompe à chaleur" width="170px">
                </a>
                {#<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars text-white"></i></button>
#}
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="tel:0272240350" class="nav-link font-weight-bold "><i
                                        class="fas fa-flip-horizontal fa-phone small"></i> Appelez-nous <span
                                        class="sr-only">(current)</span></a></li>
                        {#                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About</a></li>
                                            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Gallery</a></li>
                                            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Portfolio</a></li>
                                            <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Contact</a></li>#}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container h-100 pt-3 mb-5 mb-md-0">
            <div class="row mb-md-5">
                <div class="d-none d-md-none d-xl-block col-xl-5">
                    <div class="row">
                        <h2 class="h5 text-white">OFFRE EXEPTIONNELLE : Profitez-en maintenant !</h2>
                        <div class="row align-items-center text-center font-weight-bold text-white pt-3 pb-3"
                             id="countdown">
                            <div class="col-2">
                                <div class="col-12 p-2 rounded border text-white" id="days">&nbsp;</div>
                            </div>
                            <div class="col-1">J</div>
                            <div class="col-2">
                                <div class="col-12 p-2 rounded border text-white" id="hours">&nbsp;</div>
                            </div>
                            <div class="col-1">H</div>
                            <div class="col-2">
                                <div class="col-12 p-2 rounded border text-white" id="mins">&nbsp;</div>
                            </div>
                            <div class="col-1">M</div>
                            <div class="col-2">
                                <div class="col-12 p-2 rounded border text-white" id="secs">&nbsp;</div>
                            </div>
                            <div class="col-1">S</div>
                        </div>
                    </div>
                    {% if page.header is defined and page.header is not null %}
                        {{ page.header|raw }}
                    {% else %}
                        <div class="row align-items-center mt-3 text-white">
                            <i class="fas fa-check "></i> &nbsp; Bénéficiez jusqu'à 10 700€ d'aides de l'état !
                        </div>
                        <div class="row align-items-center mt-3 text-white">
                            <i class="fas fa-check "></i> &nbsp; Profitez de la prime énergie jusqu'a 5500 €
                        </div>
                        <div class="row align-items-center mt-3 text-white">
                            <i class="fas fa-check "></i> &nbsp; Profitez de la prime Ma prime Renov' jusqu'a 5200 € !
                        </div>
                        <div class="row align-items-center mt-3 text-white">
                            <i class="fas fa-check "></i> &nbsp; Réduisez jusqu'à 80% vos factures de énergetique !
                        </div>
                        <div class="row align-items-center mt-3 text-white">
                            <i class="fas fa-check "></i> &nbsp; Technicien local agrée RGE
                        </div>
                    {% endif %}


                    <button class="btn border bg-transparent text-white mt-3">J'EN PROFITE TOUT DE SUITE</button>
                </div>
                <div class="col-12 col-xl-6 offset-xl-1">
                    <div class="col-12 bg-white shadow p-5 text-center">
                        <h1 class="h4"><i class="fas fa-quote-left small text-custom"></i>
                            {% if page.simulator %}
                                {{ page.simulator.title|raw }}
                            {% else %}
                                Testez votre éligibilité en
                                fournissant vos infos ci-dessous.
                            {% endif %}
                            <i class="fas fa-quote-right small text-custom"></i></h1>                        <hr>
                        <form id="regForm" class="text-left" method="post" name="lead">
                            {% if page.simulator %}
                                {{ page.simulator.content|raw }}
                            {% else %}
                                <div class="tab">
                                    <h6 class="font-weight-bold text-black-50">J'habite :</h6>
                                    <p>
                                        <select name="lead[custom][logement]" id="type_logement" class="form-control mb-3">
                                            <option value="Maison">Une maison</option>
                                            <option value="Appart">Un appartement</option>
                                        </select>
                                    </p>
                                    <h6 class="font-weight-bold text-black-50">J'ai un chauffage :</h6>
                                    <p>
                                        <select name="lead[custom][chauffage]" id="type_chauffage" class="form-control mb-3">
                                            <option value="Gaz">Gaz</option>
                                            <option value="Electrique">Electrique</option>
                                            <option value="Fioul">Fioul</option>
                                            <option value="Bois">Bois</option>
                                            <option value="Charbon">Charbon</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="tab coord"><h6 class="font-weight-bold text-black-50">Mes coordonnées :</h6>
                                    <div class="form-row">
                                        <div class="col-12 col-md-6">
                                            <p><input placeholder="Votre nom..."
                                                      oninput="this.className = 'form-control'"
                                                      name="lead[nom]" class="form-control" minlength="2"></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p><input placeholder="Votre prénom..."
                                                      oninput="this.className = 'form-control'"
                                                      name="lead[prenom]" class="form-control" minlength="2"></p>
                                        </div>
                                    </div>
                                    <p><input placeholder="Votre adresse..." oninput="this.className = 'form-control'"
                                              name="lead[adresse]" class="form-control" minlength="8"></p>
                                    <div class="form-row">
                                        <div class="col-12 col-md-6">
                                            <p><input placeholder="Votre code postal..."
                                                      oninput="this.className = 'form-control'" name="lead[codepostal]"
                                                      class="form-control" minlength="5"></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p><input placeholder="Votre ville..."
                                                      oninput="this.className = 'form-control'"
                                                      name="lead[ville]" class="form-control" minlength="2"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab coord"><h6 class="font-weight-bold text-black-50">Je reçois ma réponse
                                        personnalisée :</h6>
                                    <p><input placeholder="E-mail..." oninput="this.className = 'form-control'"
                                              name="lead[email]"
                                              class="form-control" type="email" minlength="8"></p>
                                    <p><input placeholder="Phone..." oninput="this.className = 'form-control'"
                                              name="lead[telephone]"
                                              class="form-control" type="tel" minlength="10"></p>
                                </div>
                            {% endif %}
                            <input type="hidden" hidden value="{{ page ? page.id : '-1' }}" name="lead[page]">
                            <div class="form-row mt-3">
                                <div class="col-6 text-left">
                                    <button type="button" id="prevBtn" onclick="nextPrev(-1)"
                                            class="btn text-white bg-custom">Précèdent
                                    </button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" id="nextBtn" onclick="nextPrev(1)"
                                            class="btn text-white bg-custom">Suivant
                                    </button>
                                </div>
                            </div>
                            <!-- Circles which indicates the steps of the form: -->
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <small class="text-black-50">Etape <span id="stepcount">1</span> / <span id="stepmax"></span></small>
                                </div>
                            </div>
                            <div class="row step_container shadow">
                                <span class="col step p-1 finish"></span>
                                <span class="col step p-1"></span>
                                <span class="col step p-1"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <div class="container-fluid bg-light">
            <div class="container p-5">
                <div class="row align-items-center p-0 p-md-5">
                    <div class="col-12 text-center mb-5">
                        <h1 class="h4 text-center text-custom"><b>UNE QUESTION ?</b></h1>
                        <span class="text-black-50">Contactez-nous par téléphone ou par mail</span>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="col-12 rounded border bg-white p-5 text-center mt-3">
                            <i class="fas fa-phone fa-flip-horizontal fa-4x text-custom"></i>
                            <h6 class="h5 mt-3 text-custom"><a href="tel:0272240350" class="text-custom">0272240350</a></h6>
                            <br>
                            <span class="text-black-50"><b><strong>Appel gratuit 9h - 18h</strong></b></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="col-12 rounded border bg-white p-5 text-center mt-3">
                            <i class="fas fa-envelope fa-flip-horizontal fa-4x text-custom"></i>
                            <h6 class="h5 mt-3 text-custom"><a href="mailto:contact@ma-simulation-energies.fr"
                                                               class="text-custom">contact@ma-simulation-energies.fr</a>
                            </h6>
                            <span class="text-black-50"><b><strong>On vous répond rapidement</strong></b></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('img/credits-impots.jpg') }}" alt="" width="100%">
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-dark text-light pb-3 pl-3 pr-3 text-center fixed-bottom shadow-lg" id="cookiebar">
        <div class="row bg-light p-3 p-md-5 text-dark align-items-center" id="cookie">
            <div class="col-12 col-md-10 text-left">
                <p class="small">En visitant notre site Web et en utilisant nos services, vous comprenez et acceptez la façon dont
                    nous traitons les données personnelles conformément à notre politique de confidentialité. Nous
                    respectons votre vie privée et le droit de contrôler vos données personnelles. Nos principes
                    directeurs sont simples. Nous allons être ouverts avec quelles données nous collectons et pourquoi.
                    Veuillez prendre un moment pour les lire.</p>
            </div>
            <div class="col-12 col-md-2 text-right">
                <button class="btn bg-custom text-white" onclick="acceptCookie()">J'accepte</button>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 text-center">
                <a href="{{ path('legal') }}" class="text-white">Mentions légales</a>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/form.js') }}"></script>
<script src="{{ asset('js/countdown.js') }}"></script>
{% if page.tags %}
    {% for tag in page.tags %}
        {% if 'bodyend' in tag.position %}
            {{ tag.content|raw }}
        {% endif %}
    {% endfor %}
{% endif %}
<script>
    function  acceptCookie() {
        window.localStorage.setItem('cookieAccepted','true');
        $('#cookiebar').removeClass('fixed-bottom');
        $('#cookie').remove();
    }
    if(window.localStorage.getItem('cookieAccepted')){
        acceptCookie();
    }
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
