{% extends 'base.admin.html.twig' %}

{% block title %}Form index{% endblock %}

{% block body %}
<div class="col-12 p-5 rounded bg-light shadow">
    <h1>Form index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formi in forms %}
            <tr>
                <td>{{ formi.id }}</td>
                <td>{{ formi.content ? formi.content|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('form_show', {'id': formi.id}) }}">show</a>
                    <a href="{{ path('form_edit', {'id': formi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('form_new') }}">Create new</a>
</div>
{% endblock %}
