{% extends 'base.admin.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    <h1>Form</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ form.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ form.content ? form.content|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('form_index') }}">back to list</a>

    <a href="{{ path('form_edit', {'id': form.id}) }}">edit</a>

    {{ include('form/_delete_form.html.twig') }}
{% endblock %}
